@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body{
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    margin-left: 20px;
    padding: 0;
    background-color: #CBCBCB;
}

pre{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

border-none{
    border: 5px none black;
}

border-hidden{
    border: 5px hidden black;
}

border-dotted{
    border: 5px dotted black;
}

.none{
    border: 5px none black;
}

.hidden{
    border: 5pc hidden black;
}

.dotted{
    border: 5px dotted black;
}

.dashed{
    border: 5px dashed black;
}

.solid{
    border: 5px solid black;
}

.double{
    border: 5px double black;
}

.groove{
    border: 5px groove black;
}

.ridge{
    border: 5px ridge black;
}

.inset{
    border: 5px inset black;
}

.outset{
    border: 5px outset black;
}

